<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> | CSE 340 App</title>

  <!-- ALWAYS LOAD GLOBAL CSS -->
  <link rel="stylesheet" href="/css/global.css">

  <% if (cssFile) { %>
    <!-- PAGE SPECIFIC CSS -->
    <link rel="stylesheet" href="<%= cssFile %>">
  <% } %>
</head>
