main {
  padding: 2rem 1rem;
}

/* Error message from server-side validation */
.errors li,
.notice {
  color: #d32f2f;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

/* Form container */
.form-wrapper {
  max-width: 600px;
  margin: 2rem auto;
  background: #0da8d6d0;
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid #0b5f74;
}

/* Title inside box */
.form-wrapper h2 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #033c4c;
}

/* Labels */
label {
  display: block;
  margin-bottom: .3rem;
  font-size: 1.2rem;
  color: #033c4c;
  font-weight: 600;
}

/* Instructions */
.form-hint {
  font-size: .9rem;
  margin-bottom: 1rem;
  color: #022c33;
}

/* Input */
input[type="text"] {
  width: 100%;
  padding: .8rem;
  font-size: 1.2rem;
  border: 2px solid #0a5c72;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 1rem;
}

/* Button */
button,
input[type="submit"] {
  padding: .8rem 1.5rem;
  background: #033c4c;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

button:hover,
input[type="submit"]:hover {
  background: #055c74;
}
