/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #333;
}

/* HEADER */
#top-header {
  background-color: #fff;
  color: #2c3e50;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.siteName {
  font-size: 3.5rem;
  font-weight: bold;
}

.siteName a {
  color: #2c3e50;
  text-decoration: none;
  transition: color .3s;
}

.siteName a:hover {
  color: #00bbd48f;
}

/* TOOLS */
#tools a {
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #34495e;
  padding: .75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: .3s;
}

#tools a:hover {
  background-color: #00bbd48f;
  transform: translateY(-2px);
}

/* NAV BAR */
.main-nav {
  background-color: #34495e;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  
}

.nav-list li {
  flex: 1;
  min-width: 80px;
  list-style: none;
}

.nav-list a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  transition: background-color .3s;
}

.nav-list a:hover {
  background-color: #2c3e50;
}

/* BASIC LAYOUT */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}

/* FOOTER */
.site-footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
