main {
  padding: 2rem 1rem;
}

.management-container {
  max-width: 700px;
  margin: 0 auto;
}

.management-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Flash message */
.notice,
.error-message {
  color: #d32f2f;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* Links */
.management-links {
  margin-top: 1.5rem;
}

.management-links a {
  display: block;
  font-size: 1.3rem;
  color: #34495e;
  text-decoration: underline;
  margin-bottom: .8rem;
  transition: .3s;
}

.management-links a:hover {
  color: #00bbd4;
}
